@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.font-holographic {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.typing div {
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end) forwards;
}

.typing div:nth-child(1) {
    animation-delay: 0s;
}

.typing div:nth-child(2) {
    animation-delay: 3s;
}

.typing div:nth-child(3) {
    animation-delay: 5.3s;
}

.typing div:nth-child(4) {
    animation-delay: 8.4s;
}

.typing div:nth-child(5) {
    animation-delay: 10.5s;
}

.typing div:nth-child(6) {
    animation-delay: 13.5s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* styles for into page */
.percepective-350 {
    perspective: 350px;
}

.intro-page-animate {
    animation: intro-animate 1.9s forwards;
    animation-delay: 0.6s;
}

.introPage .face-top {
    animation: face-top 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
}

.introPage .face-bottom {
    animation: face-bottom 1.2s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
}

.introPage .face-left {
    animation: face-left 1.4s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
}

.introPage .face-right {
    animation: face-right 1.6s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
}

@keyframes face-top {
    from {
        transform: rotateX(360deg);
        opacity: 1;
    }

    to {
        transform: rotateX(225deg);
        opacity: 0;
    }

}

@keyframes face-right {
    from {
        transform: rotateX(360deg);
        opacity: 1;
    }

    to {
        transform: rotateY(280deg);
        opacity: 0;
    }

}

@keyframes face-left {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }

    to {
        transform: rotateY(40deg);
        opacity: 0;
    }

}

@keyframes face-bottom {
    from {
        transform: rotateX(0deg);
        opacity: 1;
    }

    to {
        transform: rotateX(135deg);
        opacity: 0;
    }

}

@keyframes intro-animate {
    from {
        background-color: white;
    }

    to {
        background-color: black;
    }

}