@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

main {
    height: 100vh;
    width: 100vw;
}

.canvas-animation {
    width: 100%;
    height: 100%;
    animation: canvas-transition 1.2s forwards;
    background-color: black;
    animation-delay: 2s;
    position: fixed;
    opacity: 0;
    z-index: 1;
}

@keyframes canvas-transition {
    from {
        opacity: 0;
        scale: 1.3;
    }

    to {
        opacity: 1;
        scale: 1;
    }

}